body{
    background: url("https://img.magnific.com/free-photo/students-knowing-right-answer_329181-14271.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login{
    background-color: rgb(239, 186, 111);
    box-shadow: 3px 3px 5px black;
}